.aboutCard {
  width: 600px;
  background-color: whitesmoke;
  padding: 0.5em 1.5em;
  border: solid 2px black;
  border-radius: 8px;
  box-shadow: 6px 6px 5px darkslategray;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}
