footer {
  flex: 1;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em 1em 0.5em 1em;
  background-color: lightseagreen;
  text-align: center;
  box-shadow: 6px 6px 5px darkslategray;
  min-height: 88px;
}

footer button.scroll-to-top {
  position: absolute;
  right: 1em;
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0.2em 0.5em;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
