header {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0 1em;
  margin: 0.5em 1em 0.5em 1em;
  background-color: lightseagreen;
  box-shadow: 6px 6px 5px darkslategray;
  min-height: 88px;
}

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1em;
  }
}

header h1 {
  margin: 0.5em 0 0.5em 1em;
}

nav {
  display: flex;
  gap: 2em;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0.2em 0.5em;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  box-sizing: border-box;
}

a:hover {
  scale: 1.2;
}
