.card {
  background-color: whitesmoke;
  padding: 0.5em 1.5em;
  border: solid 2px black;
  border-radius: 8px;
  width: 300px;
  box-shadow: 6px 6px 5px darkslategray;
}

.card h2 {
  text-align: center;
}

.cardHeader {
  text-align: center;
  margin-bottom: 1em;
}

.editableCard input {
  margin: 0;
}

.noticeCardRed {
  color: red;
}

.noticeCardGreen {
  color: green;
}

.noticeCard {
  text-align: center;
  margin-top: 0.5em;
}

button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0.2em 0.5em;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  box-sizing: border-box;
}

button:hover {
  scale: 1.2;
}
