body {
  background-color: darkgray;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1em;
  border: solid 2px black;
  border-radius: 8px;
  padding: 0 1em;
  margin: 0.5em 1em 0.5em 1em;
  background-color: lightseagreen;
  box-shadow: 6px 6px 5px darkslategray;
}
nav {
  display: flex;
  gap: 1em;
}

input {
  margin: 0.5em;
}

main {
  flex: 8;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em 1em 0.5em 1em;
  padding: 3em;
  background-color: lightseagreen;
  box-shadow: 6px 6px 5px darkslategray;
  justify-content: center;
  gap: 3em;
}

.card {
  background-color: whitesmoke;
  padding: 0.5em 2em;
  border: solid 2px black;
  border-radius: 8px;
  width: 300px;
  /* max-height: 500px; */
  box-shadow: 6px 6px 5px darkslategray;
}

form {
  max-width: 600px;
  padding: 1rem 2rem 2rem 2rem;
}

form label {
  display: block;
}

footer {
  flex: 1;
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em 1em 0.5em 1em;
  background-color: lightseagreen;
  text-align: center;
  box-shadow: 6px 6px 5px darkslategray;
}
