body {
  background-color: darkgray;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 8;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px black;
  border-radius: 8px;
  margin: 0.5em 1em 0.5em 1em;
  padding: 3em 1em;
  background-color: lightseagreen;
  box-shadow: 6px 6px 5px darkslategray;
  justify-content: center;
  gap: 3em;
}

button {
  margin: 1em;
  padding: 0.5em 1em;
}
